#------------------------------------
	# Project
#------------------------------------

# Custom exclusions here





#------------------------------------
	# ExpressionEngine
#------------------------------------

# htaccess
.htaccess

# System caches
system/user/cache/*
public/cache/*

# Local dev database file
system/user/config/config.local.php

# Custom upload directories
public/uploads/**/*.*
!public/uploads/*/*.html

# Images
public/images/avatars/*
public/images/captchas/*
public/images/forum_attachments/*
public/images/member_photos/*
public/images/pm_attachments/*
public/images/signature_attachments/*
public/images/sized/*
public/images/smileys/*
public/images/uploads/*
public/images/videos/*





#------------------------------------
	# Tools
#------------------------------------

backups/*
bower_components/
node_modules/
out/
.bundle
.idea/
.komodotools
.project
.settings/
.tern-project
.tmproj
*.esproj
*.komodoproject
*.sublime-*
browserstack.js
codekit-config.json
mixture.json
prepros.json





#------------------------------------
	# System
#------------------------------------

.cache
.DS_Store
.tmp
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db
Homestead.yaml
vendor/*
*.vagrant





#------------------------------------
	# Gitkeep
#------------------------------------

!.gitkeep